<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
  <button type="button" class="close" aria-label="Close"  (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="carFormEdit" #formDir="ngForm">
    <div class="form-group">
      <label for="Brand">Brand</label>
      <input type="text" class="form-control" id="brand" formControlName="brand" placeholder="Enter brand">
    </div>
    <div class="form-group">
      <label for="Year">Year</label>
      <input type="text" class="form-control" id="year" formControlName="year" placeholder="Enter Year 2000-2018">
    </div>
    <p>Code: <span>{{extractcar[0].code}}</span></p>
    <p>Millage: <span>{{extractcar[0].millage}}</span></p>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary"
  (click)="modalRef.hide()">Cancel</button>
<button type="button" class="btn btn-dark" 
  [disabled]="carFormEdit.invalid" 
  (click)="onSubmitEditCarForm()">Save</button>
</div>