
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{car.brand}}</h5>
      <small>{{car.year}} year</small>
    </div>
    <p class="mb-1">id: {{car.id}}</p>
    <p class="mb-1">code: {{car.code}}</p>
    <p class="mb-1">millage: {{car.millage}}</p>
    <div class="row justify-content-nd-center">
      <div class="col col-lg-12">
        <button type="button" class="btn btn-primary btn-sm" (click)="onEdit()" >Edit</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </a>